.wrapper {
    width: 100%;
    height: 70px;
    background-color: #000;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.inner {
    height: 100%;
    width: 1600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    padding-right: 180px;
    img {
        max-width: 200px;
        max-height: 48px;
    }
}

.category {
    padding-left: 40px;
    * {
        padding: 10px 20px;
        font-size: 2.2rem;
        color: rgb(255, 255, 255);
        line-height: 25px;
    }
}

.item-iphone {
}
