.contact {
    color: white;
}

.title {
    // color: red;
    font-size: 2.2rem;
    line-height: 2;
    padding: 0 0 8px;
    font-weight: 500;
}

.list-contact {
    list-style: none;
}
.item-contact {
    font-size: 2rem;
    line-height: 1.8;
    padding: 0 0 8px;
}
