.title-wrapper {
    color: #fe2c55;
    padding-left: 20px;
}

.container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 20px;
}

.tabbar {
    width: 240px;
    border-radius: 8px;
    background-color: #000000;
    color: #ffffff;
    padding: 16px;
    font-size: 2rem;
    cursor: pointer;
    div {
        border-radius: 5px;
    }
    p {
        padding: 10px;
    }
}

.content {
    flex: 1;
    padding: 20px;
    margin-left: 14px;
    background-color: #f4f4f4;
    border-radius: 10px;
}

.form-login {
    background-color: #cdcdcd;
    margin: 14% 38%;
    padding: 40px;
    width: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
}

input[type='text'],
input[type='password'] {
    width: 100%;
    padding: 10px;
    margin: 8px 0 15px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn-login {
    color: #fff;
    margin-top: 30px;
    padding: 10px 20px;
    border-radius: 5px;
    width: 160px;
    cursor: pointer;
    background-color: #fe2c55;
}

.title-login {
    margin-bottom: 40px;
}
