.item-card,
.item-category {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #323232;
    border-radius: 24px;
    margin: 20px;
    &:hover {
        box-shadow: -4px -4px 8px rgba(134, 134, 134, 0.2), 4px 4px 8px rgba(28, 28, 28, 0.4);
    }
}

.heart-item-card {
    color: #f51a6e;
    font-size: 3.2rem;
    padding-left: 260px;
    opacity: 0.5;
}

.heart-item-card:hover {
    opacity: 0.3;
}

.name-item-card {
    text-align: center;
    font-size: 2.2rem;
    color: #fff;
}

.item-card {
    width: 360px;
    height: 537px;
    padding: 30px 0;
    .name-item-card {
        padding: 0 20px;
        margin-top: 12px;
    }
}

.img-item-card {
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.price-item-card {
    font-weight: 600;
    text-align: center;
    font-size: 2.6rem;
    line-height: 2;
    color: #fff;
}

.hot-item-card {
    text-align: center;
    font-size: 2rem;
    line-height: 2;
    color: #ff9f00;
}

.item-category {
    width: 240px;
    padding: 10px 0;
    .img-item-card {
        width: 200px;
    }
    .name-item-card {
        padding: 0 10px;
        margin-bottom: 10px;
    }
}
