.wrapper {
    margin: 140px 0;
}

.inner-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-product {
    color: #fff;
    font-size: 3.8rem;
}

.ready-product {
    padding: 6px 0;
    color: #ff9f00;
    font-size: 3rem;
    font-weight: 500;
}

.price-product {
    padding: 4px 0;
    color: #fff;
    font-size: 3.2rem;
    font-weight: 600;
}

.title-local-product {
    color: #fff;
    font-size: 2rem;
}

.local-product {
    margin: 10px 0 18px 0;
}

.btn-local-product {
    margin-right: 18px;
    color: #dbdbdb;
    background: #2f3033;
    border-radius: 8px;
    padding: 10px 12px;
    text-align: center;
    font-size: 1.6rem;
    line-height: 2;
    border: 1px solid transparent;
    cursor: pointer;
    &:hover {
        opacity: 0.6;
    }
    &.active {
        border: 2px solid #fe2c55;
    }
}

.title-color-product {
    color: #fff;
    font-size: 2rem;
}

.color-product {
    margin: 10px 0 12px 0;
}

.img-policy-product {
    border-radius: 10px;
    margin-bottom: 6px;
}

.list-polyci-product {
    list-style: none;
}

.item-polyci-product {
    padding: 8px 0;
}

.item-polyci-product a {
    color: #fff;
    font-size: 1.8rem;
    cursor: pointer;
    &:hover {
        color: #2817c6;
    }
}

.btn-show-form {
    width: 500px;
    height: 50px;
    border-bottom: 1px solid #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fe2c55;
    padding: 10px 20px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    p {
        font-size: 2.2rem;
    }
}

.form-buy {
    width: 500px;
    //margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f5f5f5;
}

.label-form-buy {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type='text'],
input[type='email'] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn-form-buy {
    background-color: #fe2c55;
    color: #fff;
    margin-top: 10px;
    padding: 10px 60px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 2.2rem;
    &:hover {
        opacity: 0.8;
    }
}
